@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scalpr</h1>
    <p class="lead">Scalpr is the newest, trendiest way to buy tickets to all kinds of events.</p>
    
</div>

<div class="container" id="concert">
    <img src="~/Content/concert.jpg" alt="concert image" width="500" class="pull-left" />
    <p id="desc" class="text-center">Find the greatest local shows, or world class acts. We keep track of all the
    latest Artists and Venues to bring you the most in demand shows at a great price.</p>
</div>